<div>
  <h1>Search Posts</h1>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="criteriaWrapper">
      <div class="criteriaItem">
        <label for="tags">Tags <span  class="required" role="presentation">(*) </span>:</label><br/>
        <input type="text" id="tags"  formControlName="tags" placeholder="Tags..." required />
      </div>

      <div class="criteriaItem">
        <label for="sortBy">Sort By: </label><br/>
        <select id="sortBy" formControlName="sortBy">
          <option
            *ngFor="let sortBy of sortByList; index as i"
            [ngValue]="sortBy.value"
        >
            {{ sortBy.displayValue }}
        </option>
        </select>
      </div>

      <div class="criteriaItem">
        <label for="direction">Direction: </label><br/>
        <select id="direction" formControlName="direction">
          <option
            *ngFor="let direction of directionList; index as i"
            [ngValue]="direction.value"
        >
            {{ direction.displayValue }}
        </option>
        </select>
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="!searchForm.valid">Submit</button>
    </div>

  </form>

  <br/>

  <div>
  <p class="loading" *ngIf="isLoading"><em>Loading...</em></p>
  <p class="error" *ngIf="isError"><em>Error...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="posts">
    <thead>
      <tr>
        <th>Author</th>
        <th>Id</th>
        <th>Likes</th>
        <th>Popularity</th>
        <th>Reads</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.author }}</td>
        <td>{{ post.id }}</td>
        <td>{{ post.likes }}</td>
        <td>{{ post.popularity }}</td>
        <td>{{ post.reads }}</td>
        <td>{{ post.tags}}</td>
      </tr>
    </tbody>
  </table>
</div>
